.navbar {
    background-color: #212930;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: #ffdd40;
    align-items: left;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    width: 165px;
  }

  .nav-spacer {
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    cursor: pointer;
  }

  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.3s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
  }
  
  .nav-container .nav-icon {
    display: none;
    bottom: 45px;
    font-size: 30px;
  }
  
  @media screen and (max-width: 1060px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #212930;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-link {
      padding: 0px;
      padding-bottom: 10px;
      width: 100%;
      display: table;
    }
  
    .nav-container .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0%, 60%);
      width: 50px;
      cursor: pointer;
      color: #ffdd40;
    }

    .nav-logo {
      font-size: 2rem;
    }
  }